@import url("./style.css");

.section-one {
	background: url("../images/Dark-bg.png") no-repeat center, url("../images/people-office.png") no-repeat center;
	height: 600px;
	display: flex;
	justify-content: center;
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 48px;
}

.hero-section h1 {
	width: 496px;
	height: 120px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07143;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}

.hero-section button {
	width: 169px;
	height: 56px;
	padding: 16px 32px;
	background: var(--iris);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.hero-section button:hover {
	color: var(--green);
	background: var(--slate);
}

.section-list {
	display: flex;
	justify-content: space-between;
}

.section-list-item h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.section-list-item p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.section-list-item {
	width: 264px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section-style {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.section-style h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11111;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.our-team-section {
	background: var(--cloud);
}

.card {
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	background: var(--white);
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-bottom: 32px;
}

.social-icon,
.icon-client {
	color: var(--light-slate);
}

.icon-client {
	width: 104px;
	height: 56px;
}

.icon-client:hover,
.icon-client:active {
	color: var(--iris);
}

.icon-client-background {
	width: 168px;
	height: 88px;
	background: var(--white);
	border: 1px solid var(--light-slate);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-client-background:hover,
.icon-client-background:active {
	border: 1px solid var(--iris);
	border-radius: 4px;
}

.icon-benefit {
	width: 64px;
	height: 64px;
}

.icon-benefit-background {
	width: 264px;
	height: 112px;
	background: var(--cloud);
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-links-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.social-icon svg {
	width: 16px;
	height: 16px;
}

.social-icon:hover,
.social-icon:active {
	color: var(--white);
}

.social-icon {
	width: 40px;
	height: 40px;
	background: var(--white);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon:hover,
.social-icon:active {
	background: var(--iris);
	border-radius: 50%;
}
